:root{
  --color: #8bc24a;
}
.app {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.app h1{
  font-weight: 600;
  font-size: 2em;
  padding: 1em 18em;
  margin: 0;
  border-radius: 1%;
  border: 1px solid var(--color) ;
  color: var(--color);
}
.app-container {
  display: flex;
  width: 88.3%;
  flex-direction: column;
  align-items: center;
  margin: 2em 0em
}
.input-container{
  display: flex;
  width: 20%;
  padding: 1em;
  justify-content: space-between;
  border: 1px solid var(--color);
  
}
.input-container input{
  outline: none;
  border: none;
  font-size: 1em;
}
.input-container button{
  border: none;
  padding: 1em;
  border-radius: 30%;
  background-color: var(--color);
}
ul {
  padding: 0;
}
.filter-component {
  display: flex;
  margin: 1em 0em;
}

.filter_btn.active {
  background-color: rgb(15, 97, 168);
  border: none;
  color: white;
}
.search {
  display: flex;
}
li {
  display: flex;
  width: 260px;
  justify-content: space-between;
  list-style: none;
  padding: 30px 20px;

  
}

li button{
   border: none;
  padding: 0.2em;
margin: 0.2em;
  border-radius: 10%;
  background-color: var(--color);
}